{% extends 'bootstrap_base.html' %}

{% block title %}
    {% if title %}{{ title }} - vodtube{% else %} Welcome to vodtube {% endif %}
{% endblock %}


{% block styles %}
    {{ super() }}
    <link rel="stylesheet"
          href="{{ url_for('static', filename='bootstrap-pulse.min.css') }}">
    <link rel="stylesheet"
          href="{{ url_for('static', filename='custom.css') }}">
{% endblock %}


{% block navbar %}
    <nav class="navbar navbar-expand-md navbar-dark bg-primary py-1">
        <a class="navbar-brand" href="{{ url_for('main.index') }}">vodtube</a>
        <button class="navbar-toggler" type="button" data-toggle="collapse" data-target="#navbarNavDropdown"
                aria-controls="navbarNavDropdown" aria-expanded="false" aria-label="Toggle navigation">
            <span class="navbar-toggler-icon"></span>
        </button>
        <div class="collapse navbar-collapse" id="navbarNavDropdown">
            <ul class="navbar-nav">

            </ul>
            <ul class="navbar-nav ml-auto">
                {% if current_user.is_anonymous %}
                    <li class="nav-item">
                        <a class="nav-link" href="{{ url_for('auth.login') }}">Login</a>
                    </li>
                {% else %}
                    <li class="nav-item dropdown">
                        <a class="nav-link dropdown-toggle mr-4" href="#" id="navbarDropdownMenuLink" role="button"
                           data-toggle="dropdown" aria-haspopup="true" aria-expanded="false">
                            <img src="{{ current_user.avatar() }}" alt="avatar"
                                 class="rounded-circle mr-2 d-none d-lg-inline" style="width: 36px; height: auto">
                            {{ current_user.twitch_name }}
                        </a>
                        <div class="dropdown-menu" aria-labelledby="navbarDropdownMenuLink">
                            <a class="dropdown-item" href="{{ url_for('twitch.update') }}">Update VODs</a>
                            <a class="dropdown-item" href="{{ url_for('auth.logout') }}">Logout</a>
                        </div>
                    </li>
                {% endif %}
            </ul>
        </div>
    </nav>
{% endblock %}

{% block content %}
    <div class="container-fluid mt-3">
        {% with messages = get_flashed_messages() %}
            {% if messages %}
                {% for message in messages %}
                    <div class="alert alert-primary text-lg-center" role="alert">{{ message }}</div>
                {% endfor %}
            {% endif %}
        {% endwith %}

        {# application content needs to be provided in the app_content block #}
        {% block app_content %}{% endblock %}
    </div>
{% endblock %}

{% block scripts %}
    {{ super() }}
{% endblock %}